@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#container {
  width: 1230px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}
nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
main {
  padding-top: 80px;
  padding-bottom: 80px;
}
.title {
  text-align: center;
  padding-bottom: 60px;
}
.title p {
  color: gray;
}
.resume-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.resume-container .section1,
.section2,
.section3 {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.resume-container h3 {
  padding: 10px;
}
.section1,
.section3,
ul {
  list-style: none;
}
.section1 ul li {
  border-bottom: 1px solid #000;
  padding: 10px;
}
.section1 ul li:last-child {
  border-bottom: none;
}
.section2 .box {
  border-bottom: 1px solid #000;
  padding: 10px;
}
.section2 .box:last-child {
  border-bottom: none;
}
.section3 {
  padding: 10px;
}
.section3 h3 {
  padding: 0px;
}
.section3 ul li {
  position: relative;
  padding-left: 10px;
}

.section3 ul li::before {
  content: "\2013";
  position: absolute;
  left: 0;
  color: black;
}
.review-container {
  padding-top: 60px;
}
.review-container h3 {
  font-weight: 500;
  font-style: italic;
  padding-bottom: 20px;
}
.review-container article {
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
}
.review-items {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.review-container article ul {
  color: gray;
  font-weight: 500;
  padding-top: 12px;
}
footer {
  text-align: center;
  font-style: italic;
}
