.title {
  text-align: center;
  padding-bottom: 60px;
}
.title p {
  color: gray;
}
.resume-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.resume-container .section1,
.section2,
.section3 {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.resume-container h3 {
  padding: 10px;
}
.section1,
.section3,
ul {
  list-style: none;
}
.section1 ul li {
  border-bottom: 1px solid #000;
  padding: 10px;
}
.section1 ul li:last-child {
  border-bottom: none;
}
.section2 .box {
  border-bottom: 1px solid #000;
  padding: 10px;
}
.section2 .box:last-child {
  border-bottom: none;
}
.section3 {
  padding: 10px;
}
.section3 h3 {
  padding: 0px;
}
.section3 ul li {
  position: relative;
  padding-left: 10px;
}

.section3 ul li::before {
  content: "\2013";
  position: absolute;
  left: 0;
  color: black;
}
.review-container {
  padding-top: 60px;
}
.review-container h3 {
  font-weight: 500;
  font-style: italic;
  padding-bottom: 20px;
}
.review-container article {
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
}
.review-items {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.review-container article ul {
  color: gray;
  font-weight: 500;
  padding-top: 12px;
}

/* =========== Responsive ============ */
@media (max-width: 992px) {
  .resume-container {
    grid-template-columns: 0.5fr 1fr 1fr;
  }
  .review-items {
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 600px) {
  .resume-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .resume-container h3 {
    text-align: center;
    text-decoration: underline;
  }
  .section1 ul li:last-child {
    border-bottom: 1px solid black;
  }
  .section2 .box:last-child {
    border-bottom: 1px solid black;
  }
  .review-items {
    flex-direction: column;
    gap: 16px;
  }
}
