@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#container {
  width: 90%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}
nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
main {
  padding-top: 80px;
  padding-bottom: 80px;
}
footer {
  text-align: center;
  font-style: italic;
}
/* =========== Responsive ============ */
@media (max-width: 992px) {
  #container {
    width: 90%;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  #container {
    width: 95%;
  }
  nav {
    display: block;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
  }
  main {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
